
:root{
	--main-radius: 5px;
  	--main-padding: 5px;
}

*{
	box-sizing: border-box;
	padding:0;
	margin:0;
}

html, body{
	background:linear-gradient(to left, #1E90FF, #4169E1);
	color: black;
}


.conteiner{
 	display: grid;
 	grid-template-columns:1/4;
 	grid-template-rows:2/4;
 	grid-template-areas: 
 	"m m m m"
 	"l c c c";
 	grid-gap:10px;
 	text-align:center;
	width:100%;
}

.item.top{
	background:linear-gradient(180deg,#4F4F4F, #363636, #4F4F4F);
	color: white;
	grid-area: m;
	text-align: center;
	padding: 20px;
}

.item.lateral{
	grid-area: l;
}

.item.conteudo{
	background: white;
	grid-area: c;
}

.menu{
	background: white;
}

.menu ul li{
	list-style:none;
}

.menu li{
	width: 100%;
	padding:5px;
}

.menu a{
  display: block;
	color: #000;
	font-weight:700;
	text-align: center;
	text-decoration: none;
	padding:10px;
}

.menu a:hover{
  border-radius: 5px;
  display: block;
  background: #808080;
	color: white;
	width: 100%;
	text-decoration: none;
}

table {
  	font-family: arial;
  	max-width: 95%;
  	background-color: transparent;
  	border-collapse: collapse;
  	border-spacing: 0;
}


.table { 
  	width: 100%;
  	/*margin-bottom: 20px;*/
}

.table th{
	color: white;
	font-weight: 700;
}

.table th,
.table td {
  	font-size: 12px;
  	padding: 8px 15px;
  	line-height: 20px;
  	vertical-align: middle;
}
.table thead th {
  	background:linear-gradient(180deg,#4F4F4F, #363636, #4F4F4F);
  	vertical-align: bottom;
}   
.table tbody > tr:nth-child(odd) > td,
.table tbody > tr:nth-child(odd) > th {
  	background-color: #D3D3D3/*#fafafa*/;
}  
/*  
.table .t-small {
  	width: 5%;
}
.table .t-medium {
  /*width: 15%;*/
 	width: 15%;
}
.table .t-big{
	width: 45%;
}
*/
.table .t-status {
  	font-weight: bold;
}
.table .t-active {
  	color: #46a546;
}
.table .t-inactive {
  	color: #e00300;
}
.table .t-draft {
  	color: #f89406;
}
.table .t-scheduled {
  	color: #049cdb;
}


#minhaTabela{
  width:100%;
  margin:0 auto;
  border:0;
  box-shadow: 0 5px 30px darkgrey;
  border-spacing: 0;
}

#minhaTabela thead th{
  font-weight: bold;
  background-color: black;
  color:white;
  
  padding:5px 10px;
}

#minhaTabela tr td{
  padding:5px 10px;
  text-align: center;
  
  cursor: pointer; /**importante para não mostrar cursor de texto**/
}

/*
#minhaTabela tr td:last-child{
  text-align: center;
  display: block;
}
*/
/**Cores**/
#minhaTabela tr:nth-child(odd){
  background-color: #eee;
}

/**Cor quando passar por cima**/
#minhaTabela tr:hover td{
  background-color: #feffb7;
}

/**Cor quando selecionado**/
#minhaTabela tr.selecionado td{
  background-color: #aff7ff;
}


@media (max-width:720px)
{
	.conteiner{
		display: grid;
 		grid-template-columns:2/4;
 		grid-template-rows:3/4;
 		grid-template-areas: 
 		"m m m m"
 		"l l l l"
 		"c c c c";
 		grid-gap:10px;
 		text-align: center;
 		width: 100%;
	}

  .menu a{
    text-align: center;
  }

	.table-action thead {
    	display: none;
  	}
  	.table-action tr {
    	border-bottom: 1px solid #dddddd;
      text-align: center;
  	}
  	.table-action td {
  		text-align: center;
    	border: 0;
  	}
  	.table-action td:not(:first-child) {
    	display: block;
      text-align: center;
  	}
}

